@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

/* MOBILE FIRST */

body {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
}

.app {
  background-color: #fff;
  width: 100vw;
  font-size: 1.1rem;
}

.app-header {
  background-color: #3f51b5;
  margin: 0;
  padding: 0;
}

.app-header h1 {
  color: #fff;
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.list {
  padding: 0 .5rem;
  margin: 0;
}

.single-task {
  list-style: none;
  padding: 1rem .5rem;
  border-bottom: 1px solid #e6e6e6;
}

.done {
  color: #536DFE;
  text-decoration: #757575 line-through;
}

.single-task button {
  outline: 0;
  border: 0;
  margin: 0 0 0 0.5rem;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  background-color: #C5CAE9;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
  color: #3F51B5;
}

.single-task button:hover {
  background-color: #BDBDBD;
  color: #303F9F;
}

.form {
  width: 100%;
}

.input {
  width: auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
  padding: 1rem;
  border: 0;
}

.editing {
  padding: 0;
}

.input:focus {
  outline: 0;
}

.input::placeholder {
  color: #BDBDBD;
}



/* future implementation: add at least one more media query breakpoint */
/* DESKTOP */

@media only screen and (min-width: 768px) {
  body {
    align-items: center;
    background: #c5cae9;
  }

  .app {
    border: 1px solid #bdbdbd;
    width: 80vw;
    max-width: 500px;
    font-size: 1rem;
  }

  .single-task {
    list-style: none;
  }

  .input {
    font-size: 1rem;
  }

}
