@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

/* MOBILE FIRST */

body {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
}

.app {
  background-color: #fff;
  width: 100vw;
  font-size: 1.1rem;
}

.app-header {
  background-color: #3f51b5;
  margin: 0;
  padding: 0;
}

.app-header h1 {
  color: #fff;
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

/* future implementation: add at least one more media query breakpoint */
/* DESKTOP */

@media only screen and (min-width: 768px) {
  body {
    align-items: center;
    background: #c5cae9;
  }

  .app {
    border: 1px solid #bdbdbd;
    width: 80vw;
    max-width: 500px;
    font-size: 1rem;
  }
}
